$black : #29313D;
$tomato: #FF5538;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}
a{
    text-decoration: none;
}
ol,ul{
    list-style: none;
}
h1 h2 h3 h4 h5 h6 p{
    line-height: 0.8px;
}
.container{
    width: 1410px;
    margin: 0 auto;
}
/*=================== start navbar part ===================== */
#navbar{
    padding: 24px 0;
    position:absolute ;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 111;
    .nav_wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav_logo{
            width: 20%;
            picture{
                a{
                    img{
                        width: 50%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        .nav_menu{
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
            .list{
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 48px;
                li{
                    a{
                        font-size: 18px;
                        font-weight: 600;
                        color: $black;
                        text-transform: capitalize;
                        cursor: pointer;
                        i{
                            font-size: 18px;
                            font-weight: 600;
                            color: $black;
                            margin-left: 8px;
                        }
                    }
                    .dropdown{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        row-gap: 12px;
                        background-color:#fff;
                        cursor: pointer;
                        width: 200px;
                        height: 200px;
                        visibility: hidden;
                        opacity: 0;
                        position: absolute;
                        top: 30px;
                        left: 43%;
                        transform: translateX(-52%);
                        z-index: 555;
                        transition: all linear 0.3s;
                        li{
                            a{
                                font-size: 18px;
                                transition: all linear 0.3s;
                                &:hover{
                                    color: $tomato;
                                }
                            }
                        }
                    }
                }
            }
        }
        .nav_menu > ul li{
            position: relative;
            padding-bottom: 10px;
        }
        .menu > ul li:hover .dropdown{
            visibility: visible;
            opacity: 1;
            cursor: pointer;
            box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.55);
        }
        .nav_menu > ul li:hover .dropdown{
            visibility: visible;
            opacity: 1;
            color: #FF5538;
            cursor: pointer;
            box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.55);
        }
        .nav_btn{
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: right;
            a{
                font-size: 18px;
                font-weight: 600;
                color: $tomato;
                border: 1px solid $tomato;
                padding: 14px 28px;
                border-radius: 18px;
                text-transform: capitalize;
                cursor: pointer;
            }
        }
        .nav_bars{
            i{
                font-size: 22px;
                color: $black;
            }
        }
    }
    .site_bars{
        padding: 20px 20px;
        background: #ffffffd8;
        box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.2);
        width: 200px;
        transition: all linear 0.2s;
        position: absolute;
        left: -200px;
        top: 0;
        opacity: 999;
        .site_wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            .saie_image{
                width: 50px;
                a{
                    img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
            .site_cons{
                i{
                    font-size: 16px;
                    color: #29313D;
                }
            }
        }
        .site_list{
            display: flex;
            justify-content: left;
            row-gap: 10px;
            flex-direction: column;
            li{
                a{
                    font-size: 14px;
                    font-weight: 600;
                    color: $black;
                    text-transform: capitalize;
                    cursor: pointer;
                    &:hover{
                        color: #FF5538;
                    }
                }
            }
        }
    }
}
/*=================== end navbar part ===================== */

/*=================== start banar part ===================== */
#banar{
    padding: 208px 0 100px 0;
    background: #FFDCD8;
    .banar_contant{
        margin: 0 auto;
        text-align: center;
        .banar_list{
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 12.5px;
            a{
                font-size: 18px;
                font-weight: 600;
                color: $black;
                text-transform: capitalize;
                cursor: pointer;
            }
            i{
                font-size: 18px;
                font-weight: 600;
                color: $black;
            }
        }
        .banar_head{
            width: 600px;
            margin: 0 auto;
            text-align: center;
            .head{
                width: 100%;
                font-size: 64px;
                font-weight: 700;
                color: $black;
                text-transform: capitalize;
                line-height: 150%;
                margin-top: 20px;
            }
        }
        .banar_pera{
            width: 709px;
            margin: 0 auto;
            text-align: center;
            .pera{
                width: 100%;
                font-size: 18px;
                font-weight: 500;
                color: $black;
                text-transform: capitalize;
                line-height: 200%;
                margin-top: 24px;
            }
        }
    }
}
/*=================== end banar part ===================== */

/*=================== start marketing part ===================== */
#marketing{
    margin: 80px 0;
    .marketing_wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background: #FFDCD8;
        .marketing_side{
            padding: 25px 20px;
            cursor: pointer;
            transition: all linear 0.3s;
            &:hover{
                background: #fff;
            }
            a{
                font-size: 18px;
                font-weight: 600;
                color: $black;
                text-transform: capitalize;
                cursor: pointer;
            }
        }
    }
}
/*=================== end marketing part ===================== */

/* =================== start images part ====================== */
#images{
    padding: 10px 0;
    background: #fff;
    .images_wrapeer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
        .images_box_contant{
            width: 450px;
            background: #fff;
            .image_box{
                width: 100%;
                height: 342px;
                overflow: hidden;
                background: $black;
                img{
                    width:100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .image_contant{
                margin: 34px 0 0 24px;
                .image_contant_pera{
                    font-size: 14px;
                    font-weight: 400;
                    color: $black;
                    text-transform: capitalize;
                    line-height: 140%;
                }
                .image_contant_head{
                    font-size: 28px;
                    font-weight: 600;
                    color: $black;
                    text-transform: capitalize;
                    line-height: 140%;
                }
            }
        }
    }
}
/* =================== end images part ====================== */

/* =================== start footer part ====================== */
#foot{
    padding: 120px 0 70px 0;
    .foot_wrapper{
        display: flex;
        justify-content: space-between;
        gap:40px;
        flex-wrap: wrap;
        .foot_contant{ 
            p{
                width: 450px;
                font-size: 16px;
                font-weight: 600;
                color: $black;
                text-transform: capitalize;
                margin-top: 20px;
            }
        }
        .foot_wrapper_two{
            display: flex;
            justify-content:center;
            column-gap: 199px;
            flex-wrap: wrap;
            row-gap: 30px;
            .foot_head{
                .foot_heading{
                    font-size: 24px;
                    font-weight: 600;
                    font-family: 'Poppins', sans-serif;
                    color: $black;
                    margin-bottom: 48px;
                    text-transform: capitalize;
                    line-height: 150%;
                }
                .foot_list{
                    display: flex;
                    flex-direction: column;
                    row-gap: 30px;
                    li{
                        a{
                            font-size: 20px;
                            font-weight: 600;
                            color:$black;
                            cursor: pointer;
                            text-transform: capitalize;
                            line-height: 150%;
                        }
                    }
                }
            }
        }
    }
    .last_foot_wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .last_contant{
            margin-top: 80px;
            a{
                width: 312px;
                font-size: 18px;
                font-weight: 400px;
                color: $black;
                text-transform: capitalize;
                line-height: 140%;
                cursor: pointer;
            }
        }
        .last_contant_wrapper{
            display: flex;
            align-items: center;
            justify-content: right;
            column-gap: 60px;
            .last_contant_two{
                margin-top: 80px;
                a{
                width: 200px;
                font-size: 18px;
                font-weight: 400px;
                color: $black;
                text-transform: capitalize;
                line-height: 140%;
                cursor: pointer;
                }
            }
        }
    }
}
/* =================== end footer part ====================== */